:global .CodeMirror {
  height: auto;

  pre {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
      'Courier New', monospace;

    &.CodeMirror-placeholder {
      color: #999;
    }
  }
}

:global .CodeMirror-lines {
  padding: 10px 8px;
}
