.editor {
  display: flex;
  flex-direction: row;

  .prefix {
    flex-shrink: 0;
    color: rgba(233, 237, 237, 1);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.4);
    background-color: #263238;
    line-height: 43px;
    padding-left: 14px;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
      'Courier New', monospace;
    user-select: none;
  }

  .codemirror {
    flex: 1;
  }
}

:global .CodeMirror {
  height: auto;

  pre {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
      'Courier New', monospace;

    &.CodeMirror-placeholder {
      color: #999;
    }
  }

  // This is a hack to color things after a # as a comment.
  // Shell mode does that by default, but using codemirror's multiplexing addon
  // to recognize livescript between single quotes breaks it.
  .cm-comment ~ span {
    color: #546E7A;
  }
}

:global .CodeMirror-lines {
  padding: 10px 5px;
}
