.loading-indicator {
  margin-left: 20px;
  width: 1em;
  height: 1em;
  display: inline-block;
  background-color: transparent;

  circle {
    fill: #3f525a;
    stroke-width: 0;
    animation: blink-1 1s linear infinite both;
  }
}

@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    fill: lighten(#3f525a, 5%);
    opacity: 1;
  }
}
