.loading-indicator {
  display: flex;
  align-items: center;

  .text {
    display: inline-flex;
    margin-right: 10px;
    color: hsl(200, 21%, 64%);
    line-height: 1rem;
    text-shadow: 1px 1px rgba(0, 0, 0, 1);
    font-size: 14px;
  }

  .ball {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    opacity: 0;
    background-color: lighten(#3f525a, 10%);
  }

  &.exit,
  &.exit-done {
    .ball,
    .text {
      animation: fade-out 0.5s ease-in 1;
      animation-fill-mode: forwards;
    }
  }

  &.enter-done .ball {
    opacity: 1;
    animation: blink-1 0.5s linear infinite, scale-1 1s ease-in-out infinite;
  }

  &.enter {
    .ball,
    .text {
      animation: fade-in 0.25s linear;
    }
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink-1 {
  50% {
    opacity: 0.25;
  }
  0%,
  100% {
    background-color: lighten(#3f525a, 10%);
    opacity: 1;
  }
}

@keyframes scale-1 {
  50% {
    transform: scale(0.9);
  }
  0%,
  100% {
    transform: scale(1);
  }
}
