.output {
  color: #afafaf;
  background-color: #0a0a0a;
  padding: 10px;
  overflow: scroll;
  flex: 2;
  display: flex;

  &.error {
    color: #ff7043;
  }

  pre {
    margin: 0;
    width: 100%;
    word-break: break-all;
    white-space: pre-wrap;
  }
}
